@import '../styles/variables.css';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  padding: 16px;
  border-bottom: 1px solid @black;
}

.root h1 {
    margin: 0;
}